{% extends "base.html" %}

{% load static %}

<!-- header -->
{% block header %}
    <div class="header" id="home">
        <div class="container">
            <ul>
                <li> <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Sign In </a></li>
                <li> <a href="#" data-toggle="modal" data-target="#myModal2"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Sign Up </a></li>
                <li><i class="fa fa-phone" aria-hidden="true"></i> Call : +243992861392</li>
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:simonmwepu@gmail.com">simonmwepu@gmail.com</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
<!-- //header -->

<!-- js -->
{% block script %}
<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <!-- //js -->
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
        <!-- Custom-JavaScript-File-Links -->
        <!-- cart-js -->
        <script src="{% static 'js/minicart.min.js' %}"></script>
    <script>
        // Mini Cart
        paypal.minicart.render({
            action: '#'
        });

        if (~window.location.search.indexOf('reset=true')) {
            paypal.minicart.reset();
        }
    </script>

        <!-- //cart-js -->
    <!-- script for responsive tabs -->
    <script src="{% static 'js/easy-responsive-tabs.js' %}"></script>
    <script>
        $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
        type: 'default', //Types: default, vertical, accordion
        width: 'auto', //auto or any width like 600px
        fit: true,   // 100% fit in a container
        closed: 'accordion', // Start closed if in accordion view
        activate: function(event) { // Callback function if tab is switched
        var $tab = $(this);
        var $info = $('#tabInfo');
        var $name = $('span', $info);
        $name.text($tab.text());
        $info.show();
        }
        });
        $('#verticalTab').easyResponsiveTabs({
        type: 'vertical',
        width: 'auto',
        fit: true
        });
        });
    </script>
    <!-- //script for responsive tabs -->
    <!-- stats -->
        <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'js/jquery.countup.js' %}"></script>
        <script>
            $('.counter').countUp();
        </script>
    <!-- //stats -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!-- here stars scrolling icon -->
        <script type="text/javascript">
            $(document).ready(function() {
                /*
                    var defaults = {
                    containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear'
                    };
                */

                $().UItoTop({ easingType: 'easeOutQuart' });

                });
        </script>
    <!-- //here ends scrolling icon -->


    <!-- for bootstrap working -->
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
{% endblock %}
<!-- //js -->