<!--div class="container"-->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="{% url 'home' %}">Pay Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contact</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0" action="/s/">
        <input class="form-control mr-sm-2" type="text" placeholder="Search a product" aria-label="Search" name="q">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Products<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cart' %}"><i class="fa fa-shopping-cart" style="font-size: 150%;"></i> Cart <span class="badge badge-secondary">
            {% if not request.session.items_total %} 0 {% else %} {{ request.session.items_total }} {% endif %}
          </span></a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="">Account</i></a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'auth_logout' %}">Logout</a></li>
        {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'auth_login' %}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
<!--/div-->
